<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @young_americana.period %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @young_americana.hours %>
</p>

<p>
  <strong>Description:</strong>
  <%= @young_americana.description %>
</p>

<%= link_to 'Edit', edit_young_americana_path(@young_americana) %> |
<%= link_to 'Back', young_americanas_path %>
